<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Polsl Books</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/userBooksCollection">
                <span class="oi oi-book" aria-hidden="true"></span> My Collection
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/serviceBooksCollection">
                <span class="oi oi-globe" aria-hidden="true"></span> Service Collection
            </NavLink>
        </li>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/booksCollection">
                        <span class="oi oi-warning" aria-hidden="true"></span> Collection Admin Panel
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/usersview">
                        <span class="oi oi-warning" aria-hidden="true"></span> Users Admin Panel
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/codes">
                        <span class="oi oi-warning" aria-hidden="true"></span> Codes
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;
    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
